.addProject {
  display: flex;
  gap: 32px;
}

.form {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.preview {
  flex: 1;
}

.previewGroup {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.previewCard {
  flex: 1;
}

.cardHeader {
  padding: 16px;
  border-bottom: 1px solid var(--borderOnWhite);
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.h2 {
  color: var(--primary);
  font-weight: 900;
}

.cardHeader .help {
  opacity: 0;
}

.cardBody {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.h3 {
  color: var(--primary);
  font-weight: 700;
}

.avatars {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.owner {
  display: flex;
  flex-direction: column;
  gap: 8px;
  border-bottom: 1px solid var(--borderOnWhite);
  padding-bottom: 16px;
}